Adafruit-Blinka==8.68.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.14
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-motor==3.4.18
adafruit-circuitpython-motorkit==1.6.19
adafruit-circuitpython-pca9685==3.4.20
adafruit-circuitpython-register==1.11.1
adafruit-circuitpython-requests==4.1.15
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.85.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.9.0
click==8.3.1
colorzero==2.0
Flask==3.1.2
gpiozero==2.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pyftdi==0.57.1
pygame==2.6.1
pyserial==3.5
pyusb==1.3.1
robot_hat==2.3.0
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==80.9.0
smbus2==0.5.0
sysv_ipc==1.1.0
tenacity==9.1.2
typing_extensions==4.15.0
Werkzeug==3.1.4
